.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  margin: 0 auto;
}

#header-wrapper {
  margin-top: 30px;
}

#header-wrapper img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#about-wrapper {
  max-width: 50%;
  padding: 0 2%;
}

#about-me {
  float: left;
  width: 50%;
  margin-top: 10%; 
  font-size: 25px;
}

#about-me b {
  font-size: 30px;
}

#avatar {
  float: right;
  width: 50%;
}

#avatar img {
  max-width: 200px;
  width: 100%;
  float: right;
}

.insta-container {
  margin-left: auto;
  margin-right: auto;
}

.insta-node {
  width: 25%;
  float: left;
  padding: 2%;
}

.insta-node img {
  margin: 0;
  width: 100%;
  display: block;
}

#bottom {
  text-align: center;
  margin: 10px 0;
}

@media only screen and (max-width: 768px) {
  #about-wrapper{
    max-width: 100%;
  }

  .insta-node {
    width: 33.33%;
  }

}

@media only screen and (max-width: 420px) {
  #about-wrapper{
    max-width: 100%;
  }

  .insta-node {
    width: 50%;
  }

  #about-me,
  #avatar {
    float: none;
    width: 100%;
  }

  #avatar img {
    float: none;
    display: block;
    margin: 0 auto;
  }

  #about-me {
    margin: 20px 0;
    text-align: center;
  }
}

